* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: auto;
    /* min-height: 100vh; */
    margin: 0;
    position: relative;
    font-family: 'DynaPuff', cursive;
    background: radial-gradient(#476c9b, #9eb7e5);
    color: white;
}

.container{
    background-image: url("https://wallpapers.com/images/hd/studio-ghibli-scenery-howl-and-sophie-tk431y52x8ru762g.jpg"); 
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    border-radius: 25px;
    width: 100vw;
    height: 30%;
    padding: 10px;
    margin: 15px;
}

h1{
    font-family: 'Darumadrop One', cursive;
    font-size: 100px;
    line-height: 100px;
    padding-left: 10px;
}

.subtitle{
    font-size: 1.5rem;
    padding-left: 10px;
}

.flower{
    color: white;
    position: fixed;
    align-self: right;
    top: 40px;
    left: 96%;
    transition: transform 2s;
}

.flower:hover {
    transform: scale(1.5);
  }

.bottom-left{
    text-align: right;
    padding-right: 10px;
}

h2{
    font-family: 'Darumadrop One', cursive;
    font-size: 35px;
}

.whatIs{
    background: linear-gradient(#ead2ac, #f1dac4);
    color: #476c9b;
    border-radius: 25px;
    width: 45%;
    height: 450px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    line-height: 40px;
}

.link {
    color: #476c9b;
  }

.films{
    text-align: center;
}

.titles{
    line-height: 25px;
    width: 45%;
    text-align: right;
}

.container2{
    background-image: url("https://static.wikia.nocookie.net/studio-ghibli/images/b/b8/Spirited_Sea.png/revision/latest?cb=20210613010930"); 
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    border-radius: 25px;
    width: 100vw;
    height: 500px;
    padding: 10px;
    margin: 40px;
}

.collections{
    text-align: center;
    font-family: 'Darumadrop One', cursive;
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 0px;
}

.disclaimer{
    text-align: center;
    padding: none;

}

.container2:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.line{
    line-height: 10%;
}

.featured{
    text-align: center;
}

.list{
    line-height: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
}