* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'DynaPuff', cursive;
    background: radial-gradient(#476c9b, #9eb7e5);
    color: white;
}

main{
    width: 100%;
    z-index: 1;
}

.container{
    background-image: url("https://wallpapers.com/images/hd/studio-ghibli-scenery-howl-and-sophie-tk431y52x8ru762g.jpg"); 
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    border-radius: 25px;
    width: 100vw;
    height: 30%;
    padding: 10px;
    margin: 15px;
}

h1{
    font-family: 'Darumadrop One', cursive;
    font-size: 100px;
    line-height: 100px;
    padding-left: 10px;
}

.subtitle{
    font-size: 1.5rem;
    padding-left: 10px;
}

.flower{
    color: white;
    position: fixed;
    align-self: right;
    top: 40px;
    left: 96%;
    transition: transform 2s;
}

.flower:hover {
    transform: scale(1.5);
  }

.bottom-left{
    text-align: right;
    padding-right: 10px;
}

h2{
    font-family: 'Darumadrop One', cursive;
}